body {
    background-color: rgb(62, 63, 67);
    text-align: center;
}

img {
    border: 5px;
    border-color: black;
    border-style: solid;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

h1 {
    color: rgb(12, 12, 12);
}

a:link {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
}
  
a:hover {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: underline;
}
  
a:active {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: underline;
}